.itemFavList{
    margin: 3px;
    height: 70px;
    width: 20%;
    background-color: black;
    border: 2px;
    border-color: white;
    color: white;
    border-radius: 16px;
    border-style: groove;
    cursor:pointer;
}
.item{
    font-size: small;
    color: azure; 
}
.header{
    color: lightgrey;
}

h1{
    color: lightgrey;
}

h2{ 
    color: lightgrey;
}

.favsAlbum {
    height: 25vh;
}

.scroller {
    overflow-y: scroll;
    scrollbar-color: darkgray rgba(59, 55, 55, 0.933);
    scrollbar-width: thin;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(59, 55, 55, 0.933); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: darkgray; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: darkgray; 
  }
