.itemList{
  margin: 3px;
  height: 20%;
  width: 20%;
  background-color: black;
  border: 2px;
  border-color: white;
  color: white;
  border-radius: 16px;
  border-style: groove;
  cursor:pointer;
}

.itemList h1{
  font-size: medium;
}

.itemList h2{
  font-size: small;
}